/* ==================== 헤더 ==================== */
header {
  width: 100vw;
  height: 5vh;
}
/* ==================== 섹션 ==================== */
section {
  width: 100vw;
  height: 95vh;
  background-color: #eee;
}
/* ============ 시계 컨테이너 ============ */
section > .clock-container {
  position: relative;
  width: 70rem;
  height: 70rem;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform:translate(-50%, -50%);
  border: 1rem solid black;
  background-color: #fff;
}
/* ============ 시계침 전체 ============ */
section > article > div {
  position: absolute;
  width: 1rem;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
}
/* ============ 시침 ============ */
section > article > .hour {
  height: 30rem;
  background-color: blue;
}
/* ============ 분침 ============ */
section > article > .minute {
  height: 25rem;
  background-color: red;
}
/* ============ 초침 ============ */
section > article > .second {
  height: 20rem;
  background-color: green;
}